# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
list_anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

list_ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

        

series_anomalia = pd.Series(data = list_anomalia_termica)
print(series_anomalia)


series_ano = pd.Series(data = list_ano)
print(series_ano)


series_junto = pd.Series(data = list_anomalia_termica, index = list_ano)
print(series_junto)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64
0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64
1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:
# seu código aqui
series_junto = pd.Series(data = list_anomalia_termica, index = list_ano)
print(series_junto)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
series_temperaturas = pd.Series(dic_temperaturas)
series_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
dt_arr = pd.DataFrame(arr)
dt_arr

             0           1           2
0   102.496358   95.930896   90.034509
1   110.604277  104.168751   87.888273
2    88.254927  107.570159  105.220115
3    93.515568   88.033112   94.201988
4   112.480232  111.524587   94.810992
5    97.748532  113.926011   94.935052
6    91.399351   86.473239  110.170896
7    89.025836  112.616991  103.593339
8   115.699424  102.950016   90.319942
9   102.723379   90.967975  116.241131
10  115.666724  103.891848  100.851771
11   94.277963   95.828370   88.842449
12  111.390155  100.272881   97.131281
13  115.590531   82.393887   95.181422
14  105.509087  104.811121  105.900580
15   88.578948  114.966032  108.077965
16  103.683291   91.398550  102.526754
17  105.180496  113.400890  101.628671
18  119.863493  107.888403  103.041916
19  119.047493   94.548928   95.894491

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
list_index = list(range(1,len(dt_arr)+1))
list_index = list(map(lambda num: 'x'+str(num), list_index))

dt_arrcomindice = pd.DataFrame(data = arr, index = list_index)
dt_arrcomindice

              0           1           2
x1   102.496358   95.930896   90.034509
x2   110.604277  104.168751   87.888273
x3    88.254927  107.570159  105.220115
x4    93.515568   88.033112   94.201988
x5   112.480232  111.524587   94.810992
x6    97.748532  113.926011   94.935052
x7    91.399351   86.473239  110.170896
x8    89.025836  112.616991  103.593339
x9   115.699424  102.950016   90.319942
x10  102.723379   90.967975  116.241131
x11  115.666724  103.891848  100.851771
x12   94.277963   95.828370   88.842449
x13  111.390155  100.272881   97.131281
x14  115.590531   82.393887   95.181422
x15  105.509087  104.811121  105.900580
x16   88.578948  114.966032  108.077965
x17  103.683291   91.398550  102.526754
x18  105.180496  113.400890  101.628671
x19  119.863493  107.888403  103.041916
x20  119.047493   94.548928   95.894491

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# seu código aqui
dt_arrcomindice['media'] = dt_arrcomindice.mean(axis = 1)
dt_arrcomindice

#OUTRA FORMA
#t_arrcomindice['media'] = (dt_arrcomindice[0] + dt_arrcomindice[1] + dt_arrcomindice[2]) / 3
#t_arrcomindice

              0           1           2       media
x1   102.496358   95.930896   90.034509   96.153921
x2   110.604277  104.168751   87.888273  100.887100
x3    88.254927  107.570159  105.220115  100.348400
x4    93.515568   88.033112   94.201988   91.916889
x5   112.480232  111.524587   94.810992  106.271937
x6    97.748532  113.926011   94.935052  102.203198
x7    91.399351   86.473239  110.170896   96.014495
x8    89.025836  112.616991  103.593339  101.745389
x9   115.699424  102.950016   90.319942  102.989794
x10  102.723379   90.967975  116.241131  103.310828
x11  115.666724  103.891848  100.851771  106.803448
x12   94.277963   95.828370   88.842449   92.982927
x13  111.390155  100.272881   97.131281  102.931439
x14  115.590531   82.393887   95.181422   97.721947
x15  105.509087  104.811121  105.900580  105.406929
x16   88.578948  114.966032  108.077965  103.874315
x17  103.683291   91.398550  102.526754   99.202865
x18  105.180496  113.400890  101.628671  106.736686
x19  119.863493  107.888403  103.041916  110.264604
x20  119.047493   94.548928   95.894491  103.163638

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# seu código aqui
dt_arrcomindice['log_med'] = np.log(dt_arrcomindice['media'])
dt_arrcomindice

              0           1           2       media   log_med
x1   102.496358   95.930896   90.034509   96.153921  4.565950
x2   110.604277  104.168751   87.888273  100.887100  4.614002
x3    88.254927  107.570159  105.220115  100.348400  4.608648
x4    93.515568   88.033112   94.201988   91.916889  4.520885
x5   112.480232  111.524587   94.810992  106.271937  4.666001
x6    97.748532  113.926011   94.935052  102.203198  4.626963
x7    91.399351   86.473239  110.170896   96.014495  4.564499
x8    89.025836  112.616991  103.593339  101.745389  4.622474
x9   115.699424  102.950016   90.319942  102.989794  4.634630
x10  102.723379   90.967975  116.241131  103.310828  4.637742
x11  115.666724  103.891848  100.851771  106.803448  4.670990
x12   94.277963   95.828370   88.842449   92.982927  4.532416
x13  111.390155  100.272881   97.131281  102.931439  4.634063
x14  115.590531   82.393887   95.181422   97.721947  4.582126
x15  105.509087  104.811121  105.900580  105.406929  4.657828
x16   88.578948  114.966032  108.077965  103.874315  4.643182
x17  103.683291   91.398550  102.526754   99.202865  4.597167
x18  105.180496  113.400890  101.628671  106.736686  4.670365
x19  119.863493  107.888403  103.041916  110.264604  4.702883
x20  119.047493   94.548928   95.894491  103.163638  4.636316