# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
#sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw = pd.read_csv('https://raw.githubusercontent.com/lgrdcmt/ebac_modulo5/main/Tarefa1/SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [3]:
sinasc1 = sinasc_raw[['munResNome','IDADEMAE','IDADEPAI']]

sinasc1.groupby('munResNome').agg(np.mean)

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.991826  29.548701
Alto Alegre dos Parecis    24.844156  29.179104
Alto Paraíso               24.960177  28.833333
Alvorada D'Oeste           25.770732  30.757282
Ariquemes                  25.607866  32.466667
Buritis                    25.559177  30.812500
Cabixi                     26.037500  34.333333
Cacaulândia                25.546667  36.333333
Cacoal                     26.890102  30.931854
Campo Novo de Rondônia     24.825301  30.500000
Candeias do Jamari         25.243323  29.894737
Castanheiras               27.281250  30.392857
Cerejeiras                 27.240506  31.652778
Chupinguaia                25.333333  29.629630
Colorado do Oeste          27.602804  34.354839
Corumbiara                 24.716535  32.470588
Costa Marques              24.412017  30.613636
Cujubim                    24.482927  31.400000
Espigão D'Oeste            26.093333  31.198113
Governador Jorge Teixeira  24.401786  29.222222
Guajará-Mirim              25.462228  30.470588
Itapuã do Oeste            26.064220  42.500000
Jaru                       25.982974  32.197183
Ji-Paraná                  26.361137  31.132239
Machadinho D'Oeste         25.480000  31.326923
Ministro Andreazza         27.904762  33.849315
Mirante da Serra           26.304878  32.154762
Monte Negro                25.648241  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   26.222222  30.520833
Nova Mamoré                25.326389  31.692308
Nova União                 26.894231  31.371429
Novo Horizonte do Oeste    26.938776  31.588235
Ouro Preto do Oeste        26.375594  31.233244
Parecis                    26.454545  32.473684
Pimenta Bueno              25.199675  29.745174
Pimenteiras do Oeste       25.075000  35.600000
Porto Velho                26.312670  32.352679
Presidente Médici          25.796053  30.150754
Primavera de Rondônia      27.023256  31.888889
Rio Crespo                 26.660000  28.000000
Rolim de Moura             26.600863  30.360479
Santa Luzia D'Oeste        26.121212  30.703297
Seringueiras               24.910714  30.500000
São Felipe D'Oeste         26.481481  31.395833
São Francisco do Guaporé   25.660066  31.638889
São Miguel do Guaporé      25.926346  32.666667
Teixeirópolis              26.031250  31.500000
Theobroma                  25.536082  30.083333
Urupá                      26.688235  31.008929
Vale do Anari              26.096774  34.000000
Vale do Paraíso            25.679012  29.976744
Vilhena                    26.433962  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [4]:
sinasc2 = sinasc_raw.loc[sinasc_raw['DTNASC'] == '2019-05-06', ['ESCMAE','SEXO','PESO']]

sinasc2.groupby(['ESCMAE','SEXO']).agg(np.mean)

                                  PESO
ESCMAE          SEXO
12 anos ou mais Feminino   3286.727273
                Masculino  3497.222222
4 a 7 anos      Feminino   2870.625000
                Masculino  2960.461538
8 a 11 anos     Feminino   3072.909091
                Masculino  3125.750000

In [5]:
# ACREDITO QUE ASSIM, FICOU MELHOR PARA VISUALIZAÇÃO

sinasc2.groupby(['SEXO', 'ESCMAE']).agg(np.mean)

                                  PESO
SEXO      ESCMAE
Feminino  12 anos ou mais  3286.727273
          4 a 7 anos       2870.625000
          8 a 11 anos      3072.909091
Masculino 12 anos ou mais  3497.222222
          4 a 7 anos       2960.461538
          8 a 11 anos      3125.750000

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [6]:
sinasc1['munResNome'].value_counts().sort_values().head(5)

Município ignorado - RO     1
Castanheiras               32
Pimenteiras do Oeste       40
Primavera de Rondônia      43
Parecis                    44
Name: munResNome, dtype: int64

In [7]:
sinasc1.isna().sum()

munResNome        0
IDADEMAE          0
IDADEPAI      19421
dtype: int64

In [8]:
sinasc1_mae = sinasc1.loc[sinasc1['munResNome'] == 'Castanheiras', ['munResNome', 'IDADEMAE']]

sinasc1_pai = sinasc1.loc[sinasc1['munResNome'] == 'Castanheiras', ['munResNome', 'IDADEPAI']]

In [9]:
sinasc1_mae.groupby('munResNome').agg({('Maior Idade', max), ('Menor Idade', min), ('Idade Média', np.mean)})

                IDADEMAE
             Maior Idade Menor Idade Idade Média
munResNome
Castanheiras          39          17    27.28125

In [10]:
sinasc1_pai.groupby('munResNome').agg({('Maior Idade', max), ('Menor Idade', min), ('Idade Média', np.mean)})

                IDADEPAI
             Maior Idade Menor Idade Idade Média
munResNome
Castanheiras        43.0        17.0   30.392857

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [11]:
sinasc4 = sinasc_raw.copy()

sinasc4 = sinasc4[['DTNASC','munResNome','QTDFILVIVO','IDADEPAI']]

sinasc4.dtypes

DTNASC         object
munResNome     object
QTDFILVIVO    float64
IDADEPAI      float64
dtype: object

In [12]:
sinasc4['DTNASC'] = pd.to_datetime(sinasc4['DTNASC'])

In [13]:
sinasc4 = sinasc4[sinasc4['DTNASC'].dt.month == 3]

In [14]:
sinasc4['munResNome'].value_counts().head(5)

Porto Velho    744
Ji-Paraná      188
Vilhena        148
Ariquemes      141
Cacoal         133
Name: munResNome, dtype: int64

In [15]:
sinasc4 = sinasc4[sinasc4['munResNome'] == 'Porto Velho']

sinasc4.head(5)

         DTNASC   munResNome  QTDFILVIVO  IDADEPAI
612  2019-03-09  Porto Velho         0.0       NaN
700  2019-03-28  Porto Velho         1.0       NaN
3232 2019-03-11  Porto Velho         0.0       NaN
3238 2019-03-13  Porto Velho         1.0       NaN
6818 2019-03-01  Porto Velho         2.0      41.0

In [16]:
sinasc4.isna().sum()

DTNASC          0
munResNome      0
QTDFILVIVO    117
IDADEPAI      682
dtype: int64

In [17]:
# qual a quantidade de filhos vivos media, maxima, minima nesse municipio?

sinasc4[['munResNome','QTDFILVIVO']].groupby('munResNome').agg({('Média', np.mean), ('Máximo', max), ('Mínimo', min)})

            QTDFILVIVO
                 Média Máximo Mínimo
munResNome
Porto Velho   1.295056    9.0    0.0

In [18]:
# qual a idade media, maxima, minima dos pais nesse municipio?

sinasc4[['munResNome','IDADEPAI']].groupby('munResNome').agg({('Média', np.mean), ('Máximo', max), ('Mínimo', min)})

              IDADEPAI
                 Média Máximo Mínimo
munResNome
Porto Velho  34.629032   62.0   19.0

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios x é maior que y.

In [19]:
sinasc_teste = sinasc_raw.copy()

sinasc_teste = sinasc_teste.loc[sinasc_teste['munResNome'] != 'Município ignorado - RO', 
                                ['DTNASC','munResNome', 'GESTACAO','QTDFILVIVO','IDADEMAE', 'IDADEPAI', 'SEXO', 'APGAR5', 'PARTO', 'ESCMAE']]

sinasc_teste['DTNASC'] = pd.to_datetime(sinasc_teste['DTNASC'])

sinasc_teste['MESNASC'] = pd.to_datetime(sinasc_teste['DTNASC']).dt.month

sinasc_teste.head(5)

,DTNASC,munResNome,GESTACAO,QTDFILVIVO,IDADEMAE,IDADEPAI,SEXO,APGAR5,PARTO,ESCMAE,MESNASC
0,2019-02-19,Alta Floresta D'Oeste,37 a 41 semanas,0.0,19,26.0,Masculino,10.0,Cesáreo,8 a 11 anos,2
1,2019-02-21,Alta Floresta D'Oeste,37 a 41 semanas,1.0,29,24.0,Feminino,9.0,Cesáreo,8 a 11 anos,2
2,2019-02-25,Alta Floresta D'Oeste,37 a 41 semanas,2.0,37,32.0,Feminino,10.0,Cesáreo,8 a 11 anos,2
3,2019-03-20,Alto Alegre dos Parecis,37 a 41 semanas,0.0,30,24.0,Feminino,10.0,Cesáreo,12 anos ou mais,3
4,2019-03-23,Alta Floresta D'Oeste,37 a 41 semanas,1.0,30,27.0,Feminino,10.0,Cesáreo,8 a 11 anos,3

In [20]:
sinasc_teste_filtrado = sinasc_teste.loc[(sinasc_teste['MESNASC'] == 3) 
                                         & ((sinasc_teste['munResNome'] == 'Porto Velho') 
                                            | (sinasc_teste['munResNome'] == 'Castanheiras'))]

In [21]:
sinasc_teste_filtrado[['munResNome','IDADEPAI']].dropna().groupby('munResNome').agg({('Média', np.mean), ('Máximo', max), ('Mínimo', min)})

               IDADEPAI
                  Média Máximo Mínimo
munResNome
Castanheiras  36.000000   42.0   32.0
Porto Velho   34.629032   62.0   19.0

- Descobri que em Castanheiras, a amplitude da idade dos pais no mês de Março é menor.

In [22]:
sinasc_teste['GESTSAUDAVEL'] = 0

sinasc_teste.loc[(sinasc_teste['GESTACAO'] == '37 a 41 semanas') | (sinasc_teste['GESTACAO'] == '42 semanas e mais'), 'GESTSAUDAVEL'] = 1


sinasc_teste['CONTADOR'] = 1

sinasc_teste_filtrado = sinasc_teste[['munResNome','GESTSAUDAVEL','CONTADOR']].groupby('munResNome').agg(sum)

sinasc_teste_filtrado['PORCENTAGEM'] = (sinasc_teste_filtrado['GESTSAUDAVEL'] / sinasc_teste_filtrado['CONTADOR']) * 100

In [23]:
sinasc_teste_filtrado.sort_values('PORCENTAGEM')

                           GESTSAUDAVEL  CONTADOR  PORCENTAGEM
munResNome
Guajará-Mirim                       595       781    76.184379
Parecis                              35        44    79.545455
Ji-Paraná                          1757      2182    80.522456
Porto Velho                        6940      8437    82.256726
Mirante da Serra                    135       164    82.317073
Espigão D'Oeste                     373       450    82.888889
Presidente Médici                   255       304    83.881579
Teixeirópolis                        54        64    84.375000
Nova Mamoré                         365       432    84.490741
Machadinho D'Oeste                  425       500    85.000000
Seringueiras                        144       168    85.714286
Costa Marques                       200       233    85.836910
Rio Crespo                           43        50    86.000000
Ministro Andreazza                   73        84    86.904762
Candeias do Jamari                  293       337    86.943620
Urupá                               149       170    87.647059
Cerejeiras                          208       237    87.763713
Buritis                             512       583    87.821612
Rolim de Moura                      817       927    88.133765
Cujubim                             181       205    88.292683
Primavera de Rondônia                38        43    88.372093
Ouro Preto do Oeste                 558       631    88.431062
Nova Brasilândia D'Oeste            231       261    88.505747
São Felipe D'Oeste                   48        54    88.888889
Campo Novo de Rondônia              148       166    89.156627
Alvorada D'Oeste                    183       205    89.268293
Cacaulândia                          67        75    89.333333
Cacoal                             1231      1374    89.592431
Alta Floresta D'Oeste               329       367    89.645777
Castanheiras                         29        32    90.625000
São Francisco do Guaporé            275       303    90.759076
Jaru                                800       881    90.805902
Itapuã do Oeste                      99       109    90.825688
Governador Jorge Teixeira           102       112    91.071429
Alto Paraíso                        206       226    91.150442
São Miguel do Guaporé               322       353    91.218130
Nova União                           95       104    91.346154
Vale do Paraíso                      74        81    91.358025
Pimenta Bueno                       563       616    91.396104
Vale do Anari                        85        93    91.397849
Theobroma                            89        97    91.752577
Vilhena                            1461      1590    91.886792
Santa Luzia D'Oeste                  91        99    91.919192
Monte Negro                         183       199    91.959799
Pimenteiras do Oeste                 37        40    92.500000
Ariquemes                          1604      1729    92.770388
Alto Alegre dos Parecis             144       154    93.506494
Chupinguaia                         152       162    93.827160
Colorado do Oeste                   202       214    94.392523
Corumbiara                          120       127    94.488189
Novo Horizonte do Oeste              93        98    94.897959
Cabixi                               76        80    95.000000

- Descobri que em 2019, Cabixi foi a cidade que teve a maior porcentagem de Gestação Saudável, a julgar que Gestação saudável é a Gestação acima de 37 semanas. E que Guajará-Mirim, teve a piór porcentagem durante o ano de 2019, ainda em relação a Gestação Saudável.

In [24]:
sinasc_teste.loc[sinasc_teste['APGAR5'] >= 8, 'ASFIXIA'] = 'Asfixia Normal'
sinasc_teste.loc[(sinasc_teste['APGAR5'] >= 6) & (sinasc_teste['APGAR5'] <= 7), 'ASFIXIA'] = 'Asfixia Leve'
sinasc_teste.loc[(sinasc_teste['APGAR5'] >= 4) & (sinasc_teste['APGAR5'] <= 5), 'ASFIXIA'] = 'Asfixia Moderada'
sinasc_teste.loc[sinasc_teste['APGAR5'] <= 3, 'ASFIXIA'] = 'Asfixia Severa'

In [25]:
sinasc_teste_filtrado = sinasc_teste[['munResNome','ASFIXIA']].groupby(['munResNome'])['ASFIXIA'].value_counts().unstack().fillna(0)

sinasc_teste_filtrado.head(5)

ASFIXIA,Asfixia Leve,Asfixia Moderada,Asfixia Normal,Asfixia Severa
munResNome,,,,
Alta Floresta D'Oeste,2.0,0.0,363.0,2.0
Alto Alegre dos Parecis,1.0,0.0,152.0,1.0
Alto Paraíso,0.0,1.0,225.0,0.0
Alvorada D'Oeste,4.0,0.0,200.0,1.0
Ariquemes,23.0,7.0,1694.0,5.0

In [26]:
sinasc_teste_filtrado['TOTAL'] = (sinasc_teste_filtrado['Asfixia Leve'] + sinasc_teste_filtrado['Asfixia Moderada'] 
                                  + sinasc_teste_filtrado['Asfixia Normal'] + sinasc_teste_filtrado['Asfixia Severa'])

sinasc_teste_filtrado['PORCENTAGEM ASFIXIA'] = ((sinasc_teste_filtrado['Asfixia Leve'] + sinasc_teste_filtrado['Asfixia Moderada']  + sinasc_teste_filtrado['Asfixia Severa']) / sinasc_teste_filtrado['TOTAL']) * 100

sinasc_teste_filtrado.sort_values(by = 'PORCENTAGEM ASFIXIA', ascending = False).head(5)

ASFIXIA,Asfixia Leve,Asfixia Moderada,Asfixia Normal,Asfixia Severa,TOTAL,PORCENTAGEM ASFIXIA
munResNome,,,,,,
Nova União,5.0,1.0,97.0,1.0,104.0,6.730769
Costa Marques,12.0,1.0,218.0,1.0,232.0,6.034483
São Francisco do Guaporé,12.0,2.0,286.0,2.0,302.0,5.298013
Nova Brasilândia D'Oeste,4.0,4.0,250.0,3.0,261.0,4.214559
Rio Crespo,2.0,0.0,48.0,0.0,50.0,4.000000

- Descobri que Nova União, em 2019, teve uma porcentagem maior de bebes que sofreram asfixia durante os 5 minutos.

In [27]:
sinasc_teste_filtrado = sinasc_teste[['ESCMAE','PARTO']].groupby('ESCMAE')['PARTO'].value_counts().unstack()

sinasc_teste_filtrado.sort_values(by = 'ESCMAE')

PARTO            Cesáreo  Vaginal
ESCMAE
1 a 3 anos           273      242
12 anos ou mais     4698     1051
4 a 7 anos          2606     2150
8 a 11 anos        10208     5398
Nenhuma               19       21

- Descobri que acima de 8 anos de escolaridade da mãe, o parto aparenta ser mais comum o ``Cesáreo``

In [28]:
sinasc_raw.dtypes

ORIGEM          int64
CODESTAB      float64
CODMUNNASC      int64
LOCNASC         int64
IDADEMAE        int64
               ...
munResUf       object
munResLat     float64
munResLon     float64
munResAlt     float64
munResArea    float64
Length: 69, dtype: object

In [29]:
sinasc_raw.select_dtypes(exclude=['int64','float64'])

,ESCMAE,GESTACAO,GRAVIDEZ,PARTO,DTNASC,SEXO,RACACOR,DTCADASTRO,CODANOMAL,VERSAOSIST,DTRECEBIM,munResStatus,munResTipo,munResNome,munResUf
0,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-19,Masculino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
1,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-21,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
2,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-02-25,Feminino,Branca,2019-03-08,NaN,3.2.01,2019-03-08,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
3,12 anos ou mais,37 a 41 semanas,Única,Cesáreo,2019-03-20,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia
4,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-03-23,Feminino,Parda,2019-04-03,NaN,3.2.01,2019-04-09,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27023,12 anos ou mais,32 a 36 semanas,Única,Cesáreo,2019-12-13,Masculino,Branca,2020-09-28,NaN,3.2.01,2020-10-13,ATIVO,MUNIC,Vilhena,Rondônia
27024,8 a 11 anos,37 a 41 semanas,Única,Vaginal,2019-10-04,Masculino,Branca,2019-10-16,NaN,3.2.01,2019-10-21,ATIVO,MUNIC,Chupinguaia,Rondônia
27025,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-08-02,Masculino,Parda,2019-08-07,NaN,3.2.00,2019-08-07,ATIVO,MUNIC,Vilhena,Rondônia
27026,8 a 11 anos,32 a 36 semanas,Única,Vaginal,2019-12-23,Masculino,Parda,2020-01-07,NaN,3.2.00,2020-01-07,ATIVO,MUNIC,Vilhena,Rondônia
27027,8 a 11 anos,37 a 41 semanas,Única,Cesáreo,2019-12-27,Masculino,Parda,2020-10-15,NaN,3.2.01,2020-10-16,ATIVO,MUNIC,Novo Horizonte do Oeste,Rondônia

In [30]:
sinasc_raw.columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'ESCMAE', 'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'CONSULTAS', 'DTNASC', 'HORANASC',
       'SEXO', 'APGAR1', 'APGAR5', 'RACACOR', 'PESO', 'IDANOMAL', 'DTCADASTRO',
       'CODANOMAL', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU', 'ESCMAE2010',
       'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT', 'QTDPARTNOR',
       'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC', 'TPMETESTIM',
       'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART', 'STCESPARTO',
       'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC', 'ESCMAEAGR1',
       'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON', 'PARIDADE',
       'KOTELCHUCK', 'CONTADOR', 'munResStatus', 'munResTipo', 'munResNome',
       'munResUf', 'munResLat', 'munResLon', 'munResAlt', 'munResArea'],
      dtype='object')